@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* nav bar */
#logo {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

li, a {
  font-family: 'Dancing Script', cursive;
  font-size: 23px;
  text-decoration: none;
  list-style: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f4f4f4;
}

#logo {
  cursor: pointer;
}

#nav-links li {
  display: inline-block;
  padding: 10px;
}

#nav-links li a {
  transition: all 0.3s ease 0s;
}

#nav-links li a:hover {
  color: rgb(54, 53, 53);
  text-shadow: 1px 1px black;

}

/* landing-area */

#landing-area {
  background-image: url('/images/2.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
}